* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: century gothic, helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
}

p {
    margin-bottom: 16px;
}

header, footer {
    background-color: #730000;
    color: #ffffff;
}

header h1 {
    text-align: center;
}

header nav {
    font-size: 1.6em;
    margin-top: 20px;
}

header a {
    color: #aaaaaa;
    margin-right: 16px;
    text-decoration: none;
}

header a:link {}

header a:visited {}

header a:hover {
    color: #ffffff;
}

header a:active {
    text-decoration: underline;
}

header a:focus {}

img {
    float:inherit;
}

article {
    background-color: #ffffff;
}

aside {
    background-color: #aaaaaa;
}

article aside {
    padding: 10px;
    height: 100%;
}

footer {
    padding: 25px;
    text-align: center;
}

ul,li {
    margin-left: 10px;
    list-style-type: disc;
}

.body {
    margin: 10px;
}